* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$darkColor: #4c4c4c;
$contrast: #faa918;
$neutral: #7ac70c;
$lightColor: #cfcfcf;
$secondaryLight: #1cb0f6;

.App {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $lightColor;
  color: $lightColor;
  background-image: url('./Images/black.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
@media (min-width: 800px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.revision,
.operations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(250, 250, 250, 0.922);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.607);
  align-self: center;
  width: 70vw;
  margin: 5vw;
  // border-radius: 5px;
  justify-self: center;
}
@media (min-width: 800px) {
  .revision,
  .operations {
    min-height: 80vh;
    max-width: 35vw;
    margin: 0 5vw;
  }
}
h2 {
  color: $contrast;
  margin: 0.5rem;
  margin-top: 1rem;
}

p {
  margin: 0.5rem;
  color: $darkColor;
}
button {
  border: none;
  border-radius: 5px;
  // border: 2px solid $contrast;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  background-color: $contrast;
  color: $darkColor;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  box-shadow: 1px 1px 8px 0px$darkColor;
  margin: 0.5rem;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 20px;
  text-align: center;
  border: none;
  border: 2px solid $contrast;
  &:focus {
    border: none;
  }
}
.operations {
  .operationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .displayOperation {
    margin: 1rem;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.808);
    color: $lightColor;
    border-radius: 5px;
    border: 3px solid $contrast;
  }
  .displayBtns {
    button {
      margin: 0 1rem;
    }
  }

  .factors {
    // border: 2px solid $contrast;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button {
      padding: 0.5rem 1rem;
      border-radius: 15px;
      box-shadow: 1px 1px 8px 0px$darkColor;
      margin: 0.5rem;
    }
  }
  .operationBtns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    form {
      justify-self: center;
    }
  }
}

@media (min-width: 800px) {
  .operationBtns {
    margin: 3rem;
  }
}
.revision {
  justify-content: flex-start;
  .displayRevision {
    margin: 1rem;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.808);
    color: $lightColor;
    border-radius: 5px;
    border: 3px solid $contrast;
  }
}

#activeFactor{
  background-color: red;
}